.div1start {
	background-color: #013ADF;
	font-size: 4em;
}

.divChange{
	font-size: 1em;
}

div2{
	background-color: #BFFF00;
}

div3{
	background-color: #FF4000
}

.divhover:hover{
	font-weight: bold;
}